body {
  margin: 0 auto;
}
/* .nav li:nth-child(3) {
  box-shadow: inset 0 -0.2em hsla(347, 56%, 28%, 0.738);
}
 */
/* =====
  Breadcrumbs
  ===== */
/* 
/* ======
  Blog Post
  ====== */

.about {
  padding: 4em 4em;
  display: grid;
  justify-content: center;
  gap: 2em;
  grid-template-rows: 1fr;
  grid-template-areas:
    "aboutimage"
    "abouttext"
    "sidebar";
}

.about-header {
  margin: 30px;
}

.sideposts-header,
.about-subheader,
.sideposts-recent {
  margin: 10px 0px 10px 0px;
}

/* Blog post content */

.about-image img {
  grid-area: aboutimage;
  width: 100%;
  height: 100%;
}

.about-text {
  grid-area: abouttext;
  max-width: 600px;
  min-width: 200px;
  margin: 0 auto;
}

.sideposts p {
  color: var(--text);
}

.email-error p {
  color: rgb(105, 20, 20);
  font-size: 0.9rem;
}

/* ======
  Media Queries
  ====== */

@media (min-width: 850px) {
  .about {
    grid-template-columns: minmax(300px, 70%) minmax(1em, 1em) minmax(1em, 1em) minmax(150px, 25%);
    grid-template-areas:
      "postimage postimage sidebar"
      "blogtext blogtext ....";
  }
}

@media (min-width: 600px) {
}
