.blog-page-header {
  padding: 2em;
  color: var(--logo);
}

/* =====
Blog posts
===== */

.blog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
}
.blog-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
  max-width: 70vw;
}

.blog-post-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  margin: 0px 5px;
  padding: 0em 0em 1em 0em;
  /* padding: 0em 0em 1em 0em; */
  background: var(--white);
}

.blog-post-card img {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
}

.blog-post-card h3 {
  font-family: "DM serif display", serif;
  color: var(--logodark);
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0em 0.5em;
}

/* ======
Media Queries
====== */

@media (min-width: 801px) {
  .blog-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .blog-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
