/* .nav li:nth-child(2) {
  box-shadow: inset 0 -0.2em hsla(347, 56%, 28%, 0.738);
} */

.blog-page-header {
  padding: 2em;
  color: var(--headers);
  background-color: var(--highlight);
}

/* =====
Blog posts
===== */

.blog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  background-color: var(--highlight);
}
.blog-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
}

.blog-post-card {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em 1em 0.5em;
  background: #fff;
  border-radius: 4px;
}

.blog-post-card img {
  height: auto;
  max-width: 100%;
  transition: 0.3s all ease-in-out;
}

.blog-post-card h4 {
  display: none;
}

.blog-post-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.blog-post-card h2 {
  font-family: "DM serif display", serif;
  font-size: 2rem;
  color: var(--logo);
}
/* .blog-card-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9rem;
  max-width: 90%;
} */

.blog-post-card p {
  max-height: calc(var(--lh) * 3);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 10px 20px 10px;
  color: var(--accent);
  display: none;
}

.blog-post-card p:nth-child(3) {
  display: none;
}

/* .blog-post-text p:after {
  content: "";
  position: absolute;
  width: 90%;
  background: linear-gradient(to bottom, transparent, #fff);
  height: calc(var(--lh) * 2);
  bottom: 40px;
} */

.blog-date,
.blog-date time {
  color: var(--accent);
}

.blog-link {
  text-decoration: underline;
  cursor: pointer;
  padding: 1em;
  font-size: 1.5rem;
  font-family: "DM serif display";
  color: var(--logo);
}

.blog-link:hover,
.blog-link:focus {
  color: var(--logodark);
}

/* ======
Media Queries
====== */

@media (min-width: 800px) {
  .blog-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .blog-grid {
    grid-template-columns: 1fr 1fr;
  }
}
