h2 {
  color: var(--logo);
}
main {
  background-color: var(--lila-accent);
}

.contact {
  padding: 2em;
}
#contactForm {
  max-width: 600px;
}
#contactForm label {
  display: block;
  margin: 10px 20px;
  color: var(--logo);
  text-align: left;
}
#contactForm input,
#contactForm textarea {
  width: 100%;
  border: none;
  resize: none;
  padding: 1em;
  font-size: 0.8rem;
  margin-top: 5px;
}

#contactForm textarea {
  height: 200px;
}

.submit-button {
  color: var(--logo);
  margin: 20px;
}

.form-error {
  display: none;
  color: rgb(105, 20, 20);
  font-size: 0.9rem;
  margin: 0px 20px;
}

.message {
  color: var(--accent);
  margin: 20px;
  font-size: 2rem;
}

@media (min-width: 801px) {
}
