*,
*:before,
*:after {
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
  font-family: "roboto", Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0 auto;
}

:root {
  --body: #ebddde;
  --main: #fae8df;
  --headers: #325637;
  --accent: #483437;
  --highlight: #d1d9c5;
  --logo: #22593d;
  --logodark: ##121f13;

  --lila-accent: #e6dcec;
  --background-accent: #faf3d3;
}
html,
body {
  background-color: var(--body);
  font-size: 1rem;
  min-height: 100vh;
  scroll-behavior: smooth;
}
/* =====
typography
===== */
h1 {
  padding: 10px;
  margin: 10px;
  font-family: "DM serif display", Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
  font-size: 4rem;
  line-height: 60px;
  color: var(--logo);
}

h1:hover,
h1:focus {
  color: #2b704c;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  font-family: "DM serif display", Helvetica, sans-serif;
  line-height: 40px;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background-color: transparent;
  font-family: "roboto mono", Courier, monospace, sans-serif;
  padding: 0.5em;
  border: 2px solid;
  cursor: pointer;
}

/* ======
Main Navigation
====== */

.header-home {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.nav__link,
.nav-link {
  font-family: "DM serif display", Helvetica, sans-serif;
}

.nav-item:hover {
  box-shadow: inset 0 -0.2em hsla(347, 56%, 28%, 0.738);
  transition: 250ms ease-in;
}
.nav {
  background-color: var(--body);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  transform: translateX(0);
  transition: 400ms ease-in-out;
  z-index: 3;
}

.navigation-open {
  transform: translateX(-100%);
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 2em;
  height: 70%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.nav-link {
  color: var(--accent);
  text-decoration: none;
  font-size: 2em;
}

.close-nav {
  border: 0;
  background: 0;
  color: var(--accent);
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.5em;
  position: absolute;
  padding: 1em;
}

.open-nav {
  border: 0;
  background: 0;
  color: var(--accent);
  cursor: pointer;
  padding: 0.5em;
  margin-left: auto;
  font-size: 2em;
}

/* ======
Footer
====== */

.footer {
  background-color: var(--logo);
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.footer-main,
.footer-social,
.footer-podcast {
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer-link a,
.social-link a {
  color: var(--highlight);
  font-family: "DM serif display", Helvetica, sans-serif;
  font-size: 1.2em;
}

.footer-link a:hover,
.footer-link a:focus,
.social-link a:hover,
.social-link a:focus {
  box-shadow: inset 0 -0.2em hsla(138, 81%, 67%, 0.322);
  transition: 250ms ease-in-out;
}

.copyright {
  text-align: center;
  color: var(--highlight);
  background-color: var(--logo);
  padding: 1em;
}

/* ======
Media Queries
====== */

/* Desktop */

@media (min-width: 800px) {
  .open-nav,
  .close-nav {
    display: none;
  }

  .nav {
    position: initial;
    width: 50%;
  }

  .nav-list {
    flex-direction: row;
    margin-left: 1em;
  }

  .nav-link {
    font-size: 1.5em;
  }

  .header-home .nav {
    background: transparent;
  }
}

/* smaller devices*/

@media (min-width: 600px) {
  .footer {
    display: flex;
    flex-direction: row;
  }
}
