.header-home {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
}

/* =====
typography
===== */

/* Hero */

.hero-title {
  font-weight: 800;
  font-size: 3rem;
  line-height: 55px;
  max-width: 600px;
  color: var(--accent);
}

/* Carousel */

.carousel h2 {
  color: var(--accent);
}

.carousel-title {
  max-width: 250px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.carousel-title,
.new-post-title {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0em 0.5em;
}
/* News & Newsletter */

.news-text {
  font-size: 1rem;
  max-width: 600px;
}
.newsletter-topic h2,
.newsletter p {
  color: var(--logodark);
  text-align: center;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 1rem;
  max-width: 500px;
}

/* =====
Hero
===== */

.hero-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero {
  background-color: var(--lila-accent);
  background-image: url(../images/succulent-side.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.hero-card {
  width: 100%;
  padding: 1em;
}

/* =====
  Featured Posts Carousel
  ===== */

.carousel-container {
  padding: 2em;
  background-color: var(--main);
}
.carousel-wrap {
  display: flex;
  flex-wrap: nowrap;
  max-height: 400px;
  max-width: 100vw;
}

.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  max-width: 90vw;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-padding: 50%;
  padding: 1em;
}

.carousel-container button {
  position: absolute;
  display: block;
  border: none;
  padding: 0em 0.3em;
  background: none;
  font-size: 3rem;
  cursor: pointer;
  margin-top: 150px;
  color: var(--logo);
  z-index: 3;
}

#next-btn {
  right: 0;
}

#prev-btn {
  left: 0;
}

#prev-btn:focus,
#next-btn:focus,
#prev-btn:hover,
#next-btn:hover {
  background: #ffffff83;
  border-radius: 2px;
  /*height: 100px;
  width: 100px;
  */
}

.carousel-card,
.new-post-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 300px;
  height: auto;
  /* margin: 1em 0.5em 1em 0.5em; */
  margin-right: 1em;
  padding: 0em 0em 1em 0em;
  background: var(--white);
}

.carousel-card {
  overflow: hidden;
  scroll-snap-align: center;
}
.carousel-card img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/*=====
Newest posts
====== */

.new-post-card {
  max-width: 320px;
  height: 100%;
}
.newest-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
  margin: 30px 100px 30px 100px;
}

/* .new-post-wrap {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
  margin-bottom: 30px;
  max-width: 70vw;
} */
.new-post-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.new-post-card img {
  height: auto;
  max-width: 100%;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
}

/* =====
Newsletter
==== */

.news,
.newest-posts,
.newsletter {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* headline news section */
.news {
  color: var(--accent);
  width: 100%;
  background-color: var(--lila-accent);
}

.news .btn {
  border: 2px solid var(--accent);
  color: var(--accent);
  align-self: center;
}
.news a {
  color: var(--accent);
}
.news .btn:hover,
.news a:hover {
  color: var(--lila-accent);
  background-color: var(--accent);
}

/* Newsletter */
.newsletter {
  background-color: var(--lila-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.newsletter .btn:hover,
.newsletter .btn:focus {
  color: var(--mainlight);
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter input {
  font-size: 1rem;
  padding: 0.4em;
  width: 220px;
  border: none;
  background-color: var(--lila-accent);
  margin-right: 10px;
  margin-top: 8px;
  box-shadow: inset 0 -0.2em var(--accent);
}

.newsletter input:focus {
  background-color: #ffffff;
}

/* =====
Media Queries
===== */

/* Desktop Screens */

@media only screen and (min-width: 801px) {
  /* .new-post-wrap {
    grid-template-columns: 1fr 1fr;
  } */

  .new-post-wrap {
    flex-direction: row;
    align-items: center;
  }

  .sign-up {
    flex-direction: row;
    justify-content: flex-end;
  }

  .carousel-wrap button {
    font-size: 3rem;
  }
}

/* Larger desktop screens */

@media only screen and (min-width: 1280px) {
  .hero-card {
    padding: 2em;
  }

  .hero-title {
    font-size: 4rem;
  }
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  /* .new-post-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  } */
}
