html,
body {
  margin: 0 auto;
}
.header-home {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
/* .nav li:first-child {
  box-shadow: inset 0 -0.2em hsla(347, 56%, 28%, 0.738);
} */

/* =====
typography
===== */

.carousel h2 {
  color: var(--accent);
}

/* =====
Hero
===== */

.hero-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero {
  background-color: var(--lila-accent);
  background-image: url(/images/succulent-side.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.hero-card {
  width: 100%;
  padding: 1em;
}

.hero-title {
  font-weight: 800;
  font-size: 3rem;
  line-height: 55px;
  max-width: 600px;
  color: var(--accent);
}

/* =====
  Featured Posts Carousel
  ===== */
.carousel-container {
  margin-top: 30px;
}
.carousel {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-card,
.carousel-card-visible,
.pop-post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 10px;
  padding: 0.5em 0.5em 2em 0.5em;
  background: var(--body2);
  border-radius: 4px;
}

.carousel-card-visible img,
.carousel-card img,
.pop-post-card img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.carousel-card-visible:hover,
.carousel-card:hover,
.pop-post-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.carousel-card-visible,
.carousel-card-text {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1em 0em 1em;
}
.carousel-title {
  color: var(--accent);
  font-family: "DM serif display", Helvetica, sans-serif;
  font-weight: 400;
}

.carousel-details {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

/* =====
Recent posts & Newsletter
==== */

.news,
.latest-posts,
.carousel,
.popular-posts,
.newsletter {
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* headline news section */
.news {
  color: var(--accent);
  width: 100%;
  background-color: var(--lila-accent);
}

.news-text {
  font-size: 1rem;
  max-width: 600px;
}

.news .btn {
  color: var(--accent);
  align-self: center;
}

/* Newsletter */
.newsletter {
  background-color: var(--highlight2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.newsletter-topic h2,
.newsletter p {
  color: var(--logo);
  text-align: center;
  margin-bottom: 10px;
}

.newsletter .btn {
  color: var(--headers);
}
.newsletter p {
  font-size: 1rem;
  max-width: 500px;
}
.newsletter input {
  padding: 1em;
  border: none;
  background-color: var(--highlight);
  margin-right: 10px;
  box-shadow: inset 0 -0.2em hsl(102, 64%, 16%);
}

.newsletter input::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: var(--logo);
}

.newsletter input:focus {
  background-color: #ffffff;
}
/* Popular categories */

.pop-post-wrap {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr;
  gap: 1em;
}

.pop-post-card p {
  max-height: calc(var(--lh) * 3);
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px 10px 20px 10px;
  color: var(--accent);
}

.carousel-card p,
.carousel-card h2,
.carousel-card h3,
.carousel-card h4,
.pop-post-card p,
.pop-post-card h2,
.pop-post-card h3,
.pop-post-card h4 {
  display: none;
}

.pop-post-wrap img {
  max-width: 100%;
  height: auto;
}

/* =====
Footer
===== */

/* Desktop Screens */

@media only screen and (min-width: 700px) {
  .pop-post-wrap {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .hero-card {
    padding: 2em;
  }

  .hero-title {
    font-size: 4rem;
  }
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .pop-post-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
