body {
  margin: 0 auto;
}

/* ======
Blog Post
====== */

.post {
  padding: 2em 4em;
  display: grid;
  justify-content: center;
  gap: 2em;
  grid-template-rows: 1fr;
  grid-template-areas:
    "postimage"
    "blogtext"
    "careinfo"
    "sidebar";
}

.post-header {
  margin: 30px;
}

.sideposts-header,
.post-subheader,
.sideposts-recent,
.care-info-header {
  margin: 10px 0px 10px 0px;
}

/* Blog post content */

.post-image img {
  grid-area: postimage;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-text {
  grid-area: blogtext;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}

.care-info {
  grid-area: careinfo;
}

.sideposts {
  grid-area: sidebar;
}

/* ======
Media Queries
====== */

@media (min-width: 800px) {
  .post {
    grid-template-columns: minmax(400px, 60%) minmax(1em, 1em) minmax(1em, 1em) minmax(200px, 15%);
    grid-template-areas:
      "postimage postimage postimage sidebar"
      "blogtext blogtext blogtext sidebar"
      "careinfo careinfo .... sidebar"
      ".... .... .... sidebar";
  }
}

@media (min-width: 600px) {
}
