body {
  margin: 0 auto;
}
.nav li:nth-child(2) {
  box-shadow: inset 0 -0.2em hsla(347, 56%, 28%, 0.738);
}

/* =====
Breadcrumbs
===== */
.breadcrumbs {
  list-style: none;
  color: var(--accent);
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  padding-right: 1em;
  margin: 0;
  font-size: 0.8em;
}

.breadcrumbs li:after {
  content: "/";
  position: absolute;
  display: inline-block;
  right: 0;
  width: 1em;
  text-align: center;
}

.breadcrumbs li:last-child {
  font-weight: 600;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs a {
  display: inline-block;
  color: var(--accent);
  white-space: nowrap;
  font-family: "roboto mono", Courier, monospace;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/* ======
Blog Post
====== */

.post {
  padding: 2em;
  display: grid;
  justify-content: center;
  gap: 2em;
  grid-template-rows: 1fr;
  grid-template-areas:
    "postimage"
    "blogtext"
    "careinfo"
    "sidebar";
}

.post-header {
  margin: 30px;
}

.sideposts-header,
.post-subheader,
.sideposts-recent,
.care-info-header {
  margin: 10px 0px 10px 0px;
}

/* Blog post content */

.post-image img {
  grid-area: postimage;
  max-width: 100%;
  border: 15px solid #ffffff;
}

.blog-text {
  grid-area: blogtext;
  max-width: 700px;
  min-width: 300px;
  margin: 0 auto;
}
/* =====
Modal
===== */

.post-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1.5em;
  background: #00000070;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
  z-index: 20000;
}

.modal-dialog {
  position: relative;
  justify-content: top;
  height: 100%;
  overflow: auto;
}

.modal-dialog img {
  width: 100%;
}

.modal-dialog > * {
  padding: 1em;
}

.close-modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.post-modal.is-visible {
  visibility: visible;
  opacity: 1;
}

/* additional */
.care-info {
  grid-area: careinfo;
  text-align: center;
}

.care-info-header::after {
  content: "";
  display: block;
  width: 300px;
  height: 3px;
  margin-top: 10px;
  background: var(--logo);
}

.sideposts {
  grid-area: sidebar;
  background-color: var(--highlight);
  padding: 15px;
}

/* ======
Media Queries
====== */

@media (min-width: 800px) {
  .post {
    grid-template-columns: minmax(400px, 60%) minmax(1em, 1em) minmax(1em, 1em) minmax(200px, 15%);
    grid-template-areas:
      "postimage postimage postimage sidebar"
      "blogtext blogtext blogtext sidebar"
      "careinfo careinfo .... ...."
      "careinfo careinfo .... ....";
  }
}

@media (min-width: 600px) {
}
